
<!DOCTYPE html>
<html lang="en">
<head>
    <title>404网站错误</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Astounding Error Page Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="../error/css/style.css" rel='stylesheet' type='text/css'/><!-- style.css -->
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Playball" rel="stylesheet">
</head>
<body>
<div id="particles-js"></div>
<br>
<br>
<div class="main-w3layouts">
    <h1>网站发生了一个小小的异常</h1>
    <div class="main-agile">
        <h2>Error 404</h2>
        <p style="font-size: 25px;"> 找不到相应路径的页面，请检查网址路径或向管理员反映 </p>
        <div class="botton-w3ls"><a href="/travel">点击返回首页</a></div>
    </div>
    <div class="footer-w3l">
        <p class="agileinfo"> &copy; 2020 Error Page. All Rights Reserved | Design by <a href="">Chao</a></p>
    </div>
</div>
<script src="../error/js/particles.js"></script>
<script src="../error/js/app.js"></script>
</body>
</html>