<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home 测试数据页面</title>
    <link href="../weather/css/weathstyle.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->

</head>
<body>
<!--     <img src="/uploaded/1584351882043QQ图片20191127161958.jpg"/>-->


<video width="600" height="400" controls autoplay>

    <source src="/travelimage/video/james.mp4" type="video/mp4">

</video>

<!--

<div class="header">
    <div class="header-top">
        <h2><img class="whe" src="../weather/images/sun.png" alt="" />当地天气详情</h2>
        <ul>
            <li><p class="cen">°C</p></li>
        </ul>
        <div class="clear"> </div>
    </div>
    <div class="header-bottom">
        <div class="header-bottom1">
            <div class="header-head">
                <h4 th:text="${weatherData.getDay1Wea()}">多云</h4>
                <img src="../weather/images/cloudy.png" alt="" />
                <h6 th:text="${weatherData.getDay1Tem()}">20°</h6>
                <div class="bottom-head">
                    <p th:text="${weatherData.getDay1Date()}">今&nbsp;日</p>
                    <p th:text="'风力:'+${weatherData.getDay1Wind()}">风力:<3级</p>
                </div>
            </div>
        </div>
        <div class="header-bottom1 header-bottom2">
            <div class="header-head">
                <h4 th:text="${weatherData.getDay2Wea()}">Sunny</h4>
                <img src="../weather/images/sunn.png" alt="" />
                <h6 th:text="${weatherData.getDay2Tem()}">37°</h6>
                <div class="bottom-head">
                    <p th:text="${weatherData.getDay2Date()}">明日</p>
                    <p th:text="'风力:'+${weatherData.getDay2Wind()}">风力:</p>
                </div>
            </div>
        </div>
        <div class="header-bottom1">
            <div class="header-head">
                <h4 th:text="${weatherData.getDay3Wea()}">Rainy</h4>
                <img src="../weather/images/rain.png" alt="" />
                <h6 th:text="${weatherData.getDay3Tem()}">7°</h6>
                <div class="bottom-head">
                    <p th:text="${weatherData.getDay3Date()}">后天</p>
                    <p th:text="'风力:'+${weatherData.getDay3Wind()}">风力:</p>
                </div>
            </div>
        </div>
        <div class="header-bottom1 header-bottom2">
            <div class="header-head">
                <h4 th:text="${weatherData.getDay4Wea()}">Snowy</h4>
                <img src="../weather/images/rain.png" alt="" />
                <h6 th:text="${weatherData.getDay4Tem()}">-10°</h6>
                <div class="bottom-head">
                    <p th:text="${weatherData.getDay4Date()}">大后天</p>
                    <p th:text="'风力:'+${weatherData.getDay4Wind()}">风力:</p>
                </div>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
</div>

-->

</body>
</html>