<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>邮件发送</title>
</head>
<body>

<h2 style="text-align: center" th:text="${title}">标题</h2>

<p style="text-align: center"  th:text="${author}">作者：汉左亭侯汉昭烈帝</p>

<p style="margin: auto; width: 600px; font-size: 20px; text-indent: 30px; word-wrap:break-word;word-break:break-all;" th:text="${content1}"> </p>
<p style="margin: auto; width: 600px; font-size: 20px; text-indent: 30px; word-wrap:break-word;word-break:break-all;" th:text="${content2}"> </p>
<p style="margin: auto; width: 600px; font-size: 20px; text-indent: 30px; word-wrap:break-word;word-break:break-all;" th:text="${content3}"> </p>





</body>
</html>